<h1>All authorities</h1>

<form id="search-form" action="/" method="GET">
  <select id="dropdown">
    <option value="" disabled selected>Select your option</option>
    <% @authorities.each do |authority| %>
      <option value=<%= authority['LocalAuthorityId'] %>>
        <%= authority['Name'] %>
      </option>
    <% end %>
  </select>
  <input id="go" type="submit" value="Go">
</form>