<!DOCTYPE html>
<html>

<head>
  <title>FSA Ratings</title>
</head>

<body style="margin: 20px">
  <h1>All authorities</h1>
  <div>
    <select>
      <option value="" disabled selected>Select your option</option>
      <% @authorities.each do |authority| %>
        <option value=<%= authority['Name'] %>>
          <%= authority['Name'] %>
        </option>
      <% end %>
    </select>
  </div>
</body>

</html>