<!DOCTYPE html>
<html>

<head>
  <title><%= @title %></title>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script type="text/javascript" src="/javascript/app.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="content">
		<%= yield %>
	</div>
</body>

</html>